{% extends 'base.html' %}

{% block title %}home@kodeaffe{% endblock title %}

{% block content %}
<div id="index">
	<h1>welcome</h1>

	<div class="row">
		<div class="col-sm-8 col-xs-12">
			<div class="main">
				<div id="contact">
					<h2>contact</h2>
					<ul>
						<li>email: <a href="mailto:lahi+kodeaffe@posteo.de">lahi+kodeaffe@posteo.de</a></li>
						<li>jabber: <a href="xmpp:shensche@jabber.ccc.de">jabber shensche@jabber.ccc.de</a></li>
						<li>hire: <a href="http://www.djangodevelopers.net/developer/sebastian-henschel/">djangodevelopers.net</a></li>
						<li>hire: <a href="https://www.freelancer.com/u/shensche.html">freelancer.com</a></li>
						<li>work social: <a href="https://de.linkedin.com/in/sebastian-henschel-2b58bb125">Linked In</a></li>
						<li>free code: <a href="https://github.com/kodeaffe">kodeaffe @ github</a></li>
					</ul>
					<p>Every now and then, I'm bouncing around planet Earth, but currently i live in Darmstadt. Give me a shout if you want to hook up somewhere around these parts.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-xs-12">
			<div id="links" class="sidebar">
				<h2>Interesting Links</h2>
				<ul>
					<li>
						<a href="http://passivehouse.com">Passivhouse Institute</a><br />
						Learn all about passive houses!
					</li>
					<li>
						<a href="http://ecobasa.org">ecobasa</a><br />
						Connecting people and communities
					</li>
					<li>
						<a href="http://bewelcome.org">bewelcome</a><br />
						Culture crossing network to share a place to sleep, meet and help other on their way
					</li>
					<li>
						<a href="http://xkcd.com">xkcd</a><br />
						Web comic of romance, sarcasm, math and language
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
